[access "refs/*"]
	owner = group Administrators
[receive]
	requireChangeId = true
[submit]
	action = cherry pick
[project]
	description = Belarus Ruby on Rails User Group \n\
\n\
http://belarusrubyonrails.org
[access "refs/heads/*"]
	push = group Trainers
	pushMerge = group Trainers
	pushTag = group Trainers
	submit = group Trainers
