<%= form_for @comment, :as => :comment, :url => {:controller => "comments", :action => "create", :id => @custom_news.id}, :remote => true do |f| %>
  <div><%= f.label :body, "Comment" %></div>
  <div><%= f.text_area :body %></div>
  <div><%= submit_tag "Send" %></div>
<% end %>