<hr/>
<%= form_for [comment.custom_news, comment], :remote => true do |f| %>
  <div><%= errors_for comment, "Invalid format of comment" %></div>
  <div><%= f.text_area :body %></div>
  <div><%= f.submit "Leave a comment" %></div>
<% end %>