<%= form_for :comment, :url => { :controller => :comments, :custom_news => @custom_news }, :remote => true do |f| %>
  <div><%= f.label :body, "Comment" %></div>
  <div><%= f.text_area :body %></div>
  <div><%= submit_tag "Send" %></div>
<% end %>