<hr/>
<%= form_for comment, :remote => true do |f| %>
  <div><%= f.text_area :body %></div>
  <div><%= hidden_field_tag :custom_news, comment.custom_news.id %></div>
  <div><%= f.submit "Leave a comment" %></div>
<% end %>