<h1>Dashboard</h1>

<h3>You can:</h3>
<ul>
  <li><%= link_to("edit users", admin_users_path) %></li>
  <li><%= link_to("new article", new_admin_article_path) %></li>
  <li><%= link_to("articles list", admin_articles_path) %></li>
</ul>